/*#  Sales Leads Page custom css start #*/
.separator-light {
  height: 100%;
  left: 21%;
  border: 0.5px solid #f5f5f5;
}

.searchBox-salesLead {
  width: 100%;
  border: 2px solid #f5f5f5;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.searchBox-salesLead .select {
  flex-basis: 200px;
  border: none;
  /* z-index: 1 !important; */
  font-size: 1.25rem;
}

#react-select-4-listbox {
  /* z-index: 99 !important; */
}

.searchBox-salesLead .select .css-13cymwt-control {
  border: none !important;
  text-align: left;
}

.searchBox-salesLead .select .css-t3ipsp-control {
  border: none;
  background: transparent;
  box-shadow: none;
  text-align: left;
}

.searchBox-salesLead .select .css-1u9des2-indicatorSeparator {
  background-color: none;
  width: 0;
}

.searchBox-salesLead input {
  flex: 1;
  border: none;
  background: transparent;
  border-left: 2px solid #f5f5f5;
  border-radius: 0;
  padding: 0px 35px;
  margin: 0px 30px;
  outline: none !important;
  font-size: 1.25rem;
  overflow: hidden;
}
.searchBox-salesLead .form-control:focus {
  border-color: #f5f5f5 !important;
}

.invoice-details p {
  font-size: 16px;
  font-weight: 600;
}
.invoice-details .title {
  color: black;
}
.invoice-details-card,
.invoice-details,
.userInfo-invoice-details {
  border-radius: 8px !important;
  background: white;
}

/* Responsive css start*/

@media only screen and (max-width: 575px) {
  .searchBox-salesLead input {
    flex: 1;
    border-radius: 0;
    padding: 0px 10px;
    margin: 0px;
    outline: none !important;
    font-size: 14px;
  }

  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .searchBox-salesLead .select {
    flex-basis: 140px;
    font-size: 14px;
  }
}

.kDLGkH {
  z-index: 0 !important;
}

.select-ar {
  padding: 10px;
  border: 2px solid #f5f5f5;
  border-radius: 8px;
  font-size: 1rem;
}
.select-ar .css-13cymwt-control {
  border-width: 0 !important;
}

[data-theme-version="dark"] .select-ar .css-t3ipsp-control {
  background-color: #212130 !important;
  color: #f5f5f5 !important;
}

[data-theme-version="dark"] .eCLjab {
  background-color: #212130 !important;
  color: #f5f5f5 !important;
}

.select-ar .css-t3ipsp-control {
  box-shadow: none !important;
  border-color: transparent !important;
}

.select-ar .css-t3ipsp-control:hover {
  box-shadow: none !important;
}

.select-ar .css-t3ipsp-control:focus {
  border-color: transparent !important;
}
.select-ar .css-t3ipsp-control:hover {
  border-color: transparent !important;
}

.select-ar .css-1u9des2-indicatorSeparator {
  width: 0;
}

/* Responsive css end*/

[data-theme-version="dark"] .ilXFdd {
  background-color: #212130;
}

[data-theme-version="dark"] .JujPC {
  background-color: #212130;
}

[data-theme-version="dark"] .itDhT {
  background-color: #212130;
}

[data-theme-version="dark"] .gDLXna {
  background-color: #212130;
}
[data-theme-version="dark"] .ckJNCn {
  background-color: #212130;
  color: #f5f5f5;
}
[data-theme-version="dark"] .gJLolM {
  background-color: #212130;
  color: #f5f5f5 !important;
}
[data-theme-version="dark"] .gJLolM:hover {
  background-color: #ffffff;
  color: #000 !important;
}
[data-theme-version="dark"] .giYxYh {
  background-color: #212130;
  color: #f5f5f5 !important;
}

[data-theme-version="dark"] .giYxYh:hover {
  background-color: #ffffff;
  color: #000 !important;
}

[data-theme-version="dark"] .dark_theme_text:hover {
  background-color: #ffffff;
  color: #000 !important;
}

[data-theme-version="dark"] .gbeJol {
  background-color: #212130;
  color: #f5f5f5 !important;
}

[data-theme-version="dark"] .css-13cymwt-control {
  background-color: #212130;
  color: #f5f5f5 !important;
}

[data-theme-version="dark"] .fxMZcL:disabled {
  cursor: unset;
  color: rgba(0, 0, 0, 0.18);
  fill: #f5f5f5;
}
[data-theme-version="dark"] .fxMZcL {
  cursor: unset;
  color: rgba(0, 0, 0, 0.18);
  fill: #f5f5f5;
}

[data-theme-version="dark"] .css-w9q2zk-Input2 {
  color: #f5f5f5 !important;
}

[data-theme-version="dark"] .css-1nmdiq5-menu {
  color: #212130 !important;
}

[data-theme-version="dark"] .css-1dimb5e-singleValue {
  color: #f5f5f5 !important;
}

/*#  Sales Leads Page custom css end #*/

/*#  Sales invoice Page custom css start #*/
.print-area {
  position: relative !important;
}

.logo-position {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
