.table-responsive1 {
  overflow-x: auto;
}

@media (max-width: 1199.98px) {
  .table-responsive111 {
    overflow-x: auto;
  }
}

/* [data-theme-version="light"] .css-13cymwt-control {
  background-color: #f5f5f5;
} */
[data-theme-version="dark"] .css-t3ipsp-control {
  background-color: #212130 !important;
}
