.custom-calendar {
    box-shadow: 0 1em 3em rgba(156, 136, 255,0.2);
    z-index: 1;
  }
  
  .custom-today-day {
    color: #e67e22 !important;
    border: 1px solid #e67e22 !important;
  }
  
  .custom-today-day::after {
    visibility: hidden; /* hide small border under the text */
  }